.underMaintenance {
    position: absolute;
    top: 0px;
    width: 180px;
    height: 180px;
    background-color: red;
    opacity: 0.5;
}

.underMaintenance + p {
    position: absolute;
    width: 180px;
    top: 70px;
    color: white;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}