.header1 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/bg.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header2 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/bg2.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header3 {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/bg3.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header4 {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/bg4.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header5 {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url('../images/scan.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.item3 {
    grid-area: main;
    background: url('../images/img1.jpg') center;
    background-size: cover;
}

.item4 {
    grid-area: right;
}

.item5 {
    height: 100px;
    grid-area: footer;
    background: url('../images/img2.jpg') center;
    background-size: cover;
}

.framecont {
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 150px;
    display: grid;
    grid-template-areas:
        'main main main right right'
        'footer footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

.framecont>div {
    padding: 20px 0;
}

.framecont>div>h2 {
    color: white;
    text-align: center;
    padding: 40px 0;
}